/* секція Specifics */

.specifics {
    display: none;

    &__title {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
    
        }
    &__list {
            display: flex;
        }

}


.specifics__items {
    &--icon-details,
        &--icon-punkt,
        &--icon-plan,
        &--icon-techno {
            width: 270px;
            margin-right: 30px;
    
    
        }
    
    
        &--icon-techno {
            margin-right: 0;
        }
    
    
        &--icon-details::before,
        &--icon-punkt::before,
        &--icon-plan::before,
        &--icon-techno::before {
            display: block;
            content: "";
            height: 120px;
            background-color: var(--secondary-background-color);
    
            background-size: contain;
            background-size: 65px, 70px;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 30px;
        }
    
    
    
        &--icon-details::before {
            background-image: url("../images/det.svg");
        }
    
        &--icon-punkt::before {
            background-image: url("../images/punkt.svg");
        }
    
        &--icon-plan::before {
            background-image: url("../images/diagram.svg");
        }
    
        &--icon-techno::before {
            background-image: url("../images/astronaut.svg");
        }

}

